<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytc.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.ytc.model.User">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="usersex" jdbcType="INTEGER" property="usersex" />
    <result column="userdate" jdbcType="DATE" property="userdate" />
    <result column="userprice" jdbcType="DOUBLE" property="userprice" />
  </resultMap>
  <sql id="Base_Column_List">
    userid, username, usersex, userdate, userprice
  </sql>


  <select id="queryUserList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
  </select>
   <insert id="addUser" parameterType="com.ytc.model.User">
     insert into t_user(username, usersex, userdate, userprice)
     VALUES (#{username},#{usersex},#{userdate},#{userprice})
   </insert>
  <delete id="delUser" parameterType="Integer">
    DELETE  FROM  t_user where userid=#{id}
  </delete>
  <select id="toUpdateUser" parameterType="Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user where userid=#{id}
  </select>
  <update id="updateUser" parameterType="User">
    update t_user set username=#{username},usersex=#{usersex},userdate=#{userdate},userprice=#{userprice}
    WHERE  userid=#{userid}
  </update>
</mapper>