<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
   <a th:href="@{toAdd}">新增</a>
   <table border="1">
    <tr>
        <td>id</td>
        <td>name</td>
        <td>sex</td>
        <td>date</td>
        <td>price</td>
        <td>操作</td>
    </tr>
   <tr th:each="user:${list}">

           <td th:text="${user.userid}">id</td>
           <td th:text="${user.username}">name</td>
           <td th:if="${user.usersex==0}">女</td>
           <td th:if="${user.usersex==1}">男</td>
           <td th:text="${user.userdate}">date</td>
           <td th:text="${user.userprice}">price</td>
          <td >
              <a th:href="@{/delUser(id=${user.userid})}">删除</a>
              <a th:href="@{/toUpdateUser(id=${user.userid})}">修改</a>
          </td>
    </tr>
   </table>
</body>
</html>