<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytc.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.ytc.model.User" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="usersex" property="usersex" jdbcType="INTEGER" />
    <result column="userdate" property="userdate" jdbcType="DATE" />
    <result column="userprice" property="userprice" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    userid, username, usersex, userdate, userprice
  </sql>
  <select id="queryUserList" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_user
  </select>

  <insert id="addUser" parameterType="com.ytc.model.User" >
    insert into t_user ( username, usersex,
    userdate, userprice)
    values (#{username}, #{usersex},
    #{userdate}, #{userprice})
  </insert>


  <delete id="delUser" parameterType="java.lang.Integer" >
    delete from t_user
    where userid = #{userid}
  </delete>

  <delete id="delsUser" parameterType="java.lang.String" >
    delete from t_user
    where userid IN
    <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </delete>

  <select id="toUpdateUser" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from t_user where userid=#{uid}
  </select>

  <update id="updateUser" parameterType="com.ytc.model.User" >
    update t_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null" >
        usersex = #{usersex,jdbcType=INTEGER},
      </if>
      <if test="userdate != null" >
        userdate = #{userdate},
      </if>
      <if test="userprice != null" >
        userprice = #{userprice,jdbcType=DOUBLE},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>


  <insert id="insertSelective" parameterType="com.ytc.model.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="usersex != null" >
        usersex,
      </if>
      <if test="userdate != null" >
        userdate,
      </if>
      <if test="userprice != null" >
        userprice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null" >
        #{usersex,jdbcType=INTEGER},
      </if>
      <if test="userdate != null" >
        #{userdate,jdbcType=DATE},
      </if>
      <if test="userprice != null" >
        #{userprice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ytc.model.User" >
    update t_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usersex != null" >
        usersex = #{usersex,jdbcType=INTEGER},
      </if>
      <if test="userdate != null" >
        userdate = #{userdate,jdbcType=DATE},
      </if>
      <if test="userprice != null" >
        userprice = #{userprice,jdbcType=DOUBLE},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ytc.model.User" >
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      usersex = #{usersex,jdbcType=INTEGER},
      userdate = #{userdate,jdbcType=DATE},
      userprice = #{userprice,jdbcType=DOUBLE}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
</mapper>